/* Desktop */

.news {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  text-align: center;
}

.news article {
  margin: 5px 10px;
  /*flex-grow: 1; */
  width: 25%;
  background-color: #999;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news article img {
  width: 100%;
}
.news .main + article {
  order: -1;
}

.news .main {
  /* flex-grow: 2; */
  width: 50%;
}

/* MOBILE 
main axis start 


*/

@media (max-width: 1240px) {
  .news {
    width: 92%;
    flex-direction: column;
  }

  .news article,
  .news .main {
    width: 100%;
  }
  .news .main {
    order: -2;
  }
}
